<!--(zadanie 5.6)-->
@model Lab6.Models.Movie

@{
    ViewData["Title"] = "Movie Trailer";
}

<h1>@Model.Title</h1>

<p>
    @* <a asp-action="Index">Back to List</a> *@
    @Html.ActionLink("Back to List", "Index")
</p>
<a href="@Model.TrailerLink">@Model.TrailerLink</a></br>
<iframe src="@Model.TrailerLink" width="560" height="315" frameborder="0"></iframe>
